:root {
  --branding-color: #f79489;
  --secondary-color: #fff5ea;
  --off-white: #fffdfb;
  --text-color: #2a363b;
  --heading-font-family: "Nunito", sans-serif;
  --default-font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: var(--off-white);
  color: var(--text-color);
  font-family: var(--default-font-family);
}

nav {
  padding: 12px 0 !important;
}

nav a {
  color: var(--text-color);
  font-family: var(--heading-font-family);
  font-weight: 700 !important;
  text-decoration: none;
}

nav a:hover {
  color: var(--branding-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 700;
}

h1 {
  font-size: 70px;
  line-height: 1.5;
}

h2.section-title {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

h3 {
  font-size: 24px;
  line-height: 1.5;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 40px;
}

h6 {
  font-size: 30px;
}

p {
  font-size: 18px;
}

a:link,
a:hover {
  transition: all 150ms ease-in-out;
}

form em {
  color: var(--branding-color);
}

footer h3 {
  font-size: 30px;
}

footer p {
  font-size: 16px;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 20px 0;
}

.text-center {
  text-align: center;
}

.navbar-offwhite {
  background-color: var(--off-white);
}

.nav-link {
  color: var(--text-color);
  padding: 8px 12px !important;
}

.nav-link:hover {
  color: var(--branding-color);
}

.nav-link-active {
  color: var(--branding-color);
}

.hero {
  background-image: radial-gradient(#ffe8b6 1px, var(--secondary-color) 1px);
  background-size: 12px 12px;
  padding: 80px 30px;
}

.btn-branding {
  background-color: var(--branding-color);
  color: var(--off-white);
  font-size: 18px;
  padding: 10px 20px;
}

.btn-branding:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
}

.skills {
  background: #f8f8f8;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 0 100px 100px;
  padding: 80px 100px 90px 80px;
}

.tools {
  display: flex;
  justify-content: space-evenly;
}

.tools li {
  font-size: 20px;
  list-style: none;
  text-align: center;
}

.skills .fa-brands {
  font-size: 55px;
}

.project-description {
  padding: 0 20px;
}

.btn-branding-outline {
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  font-size: 18px;
  padding: 10px 20px;
}

.btn-branding-outline:hover {
  background-color: var(--branding-color);
  color: var(--off-white);
}

.content {
  margin-top: 100px;
}

.content h1 {
  font-size: 50px;
  margin: 0;
}

.content h2 {
  margin: 0;
}

.content h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.contact-form {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  text-align: left;
}

.btn-submit {
  padding: 10px 50px;
  transition: all 150ms ease-in-out;
}

.btn-submit:hover {
  background-color: var(--off-white);
}

@media (max-width: 768px) {
  h1 {
    font-size: 45px;
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  h3 {
    font-size: 20px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  footer h3 {
    font-size: 24px;
  }

  .btn-branding-outline {
    display: block;
    margin: 0 50px;
  }

  .content h1 {
    font-size: 45px;
  }
}
