:root {
  --branding-color: #ffaaa5;
  --secondary-color: #fff0df;
  --off-white: #fffdfb;
  --text-color: #2a363b;
  --heading-font-family: "Nunito", sans-serif;
  --default-font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  font-family: var(--default-font-family);
  background-color: var(--off-white);
  color: var(--text-color);
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 70px;
  line-height: 1.5;
}

h3 {
  font-size: 24px;
  line-height: 1.5;
}

.text-center {
  text-align: center;
}

.hero {
  background-color: var(--secondary-color);
  padding: 120px 30px;
}

.btn-branding {
  background-color: var(--branding-color);
  color: var(--off-white);
  font-size: 18px;
  padding: 10px 20px;
}

.btn-branding:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
}

.project-description {
  padding: 0 20px;
}

.btn-branding-outline {
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  font-size: 18px;
  padding: 10px 20px;
}

.btn-branding-outline:hover {
  background-color: var(--branding-color);
  color: var(--off-white);
}

@media (max-width: 576px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    text-align: center;
  }

  h3 {
    font-size: 18px;
  }

  p {
    text-align: center;
  }

  .btn-branding-outline {
    display: block;
    margin: 0 50px;
  }
}
